@import url('https://fonts.googleapis.com/css?family=Rubik');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Rubik";
  }
  body {
    background: #ffffff;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }

  a{
    text-decoration: none;
  }
  button{
    cursor: pointer;
  }
/* header */
  header {
    padding-top: 18px; 
    /* padding-right:66px;  */
    padding-bottom:18px;
    /* padding-left:10px; */
    height:50px;
    margin-left: 19px;
    margin-right: 67px;
  }
  
  header h1 {
    color: #fff;
    font-family: inherit;
    font-weight: 200;
  }

  .top-header .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;
    height: 29px;
  }
  
  .top-header .logo img{
    margin-right: 4px;
    width:50px;
  }
  
  .top-header .logo p{
    position: static;
    width: 64px;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    display: none;
    /* color: rgba(255, 255, 255, 0.9); */
    }

    .top-header{
      display: flex;
      justify-content: space-between;
    }
    
    .header-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 664px;
    }
    
    .trend-icon{
        margin-top: 8px;
        cursor: pointer;
   }
    

/* Application */
.App{
  display: flex;
  position: relative;
  margin-left: 19px;
  margin-right: 67px;
}

/* Dark and Light mode */
.dark{
  color: rgba(255, 255, 255, 0.9);
}
.light{
  color:rgba(255, 255, 255, 1);
}

/* Start Side bar styling */
.side{
  position: relative;
}

.side-bar{
  height: 90%;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 30px;
  position: fixed;
  overflow-x: hidden;
}

.bar-contents{
    max-width: 178px;
}

.bar-content{
  margin-top:85px;
  display: flex;
  flex-direction: column;
}

.bar-content button{
  font-family: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  color: #575757;
  background:inherit;
  border: none;
}

.user-name{
  display:none
}

.side-text{
  /* position: static; */
  height: 19px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: none;
}

.bar-content .active-button{
  background:#446271;
  font-weight: 600;
  color: #FFFFFF;
}

.my-profile{
  display: flex;
  padding: 8px 0px;
  margin-top: 50%;
  position: absolute;
  text-align: center;
  bottom: 35px;
  text-decoration: none;
  color: #575757;
}

.my-profile p{
  align-self: center;
}

.profile-image{
  margin-right: 8px;
  width:40px;
  height:40px;
}

.profile-image-child{
  margin-right: 8px;
  width:30px;
  height:30px;
}
.profile-image-child img{
  border-radius: 50%;
  width: inherit;
  height: inherit;
  backface-visibility: hidden;
}
.profile-image img{
  /* margin-right: 12px; */
  border-radius: 50%;
  width: inherit;
  height: inherit;
  backface-visibility: hidden;
}
/* End Side bar styling */

  footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  
  footer p {
    color: #ccc;
  }

/* search form */
  .searchForm{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    width: 260px;
    height: 41px;
    left: 209px;
    top: 18px;
    background: rgba(236, 239, 241, 0.81);
    border-radius: 8px;
  }

  .search-btn{
      border: none;
  }

  .searchForm input{
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    resize: none;
    background-color: #ffffff00;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #707070;
  }
/* search form */

/* home page */
.home-page, .profilePage, .explore-page{
  background: none;
}

.home, .explore{
  margin-left: 82px;
  margin-right: 48px;
  margin-top: 57px;
  width: 615px;
  position: relative;
}
.top-title{
  margin-bottom: 9px;
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
}
/* profile page
.profilePage{
 margin-left: 121px;
 margin-top: 47px;
} */

/* explore page */
/* .explore{
  margin-left: 121px;
} */


/* forms */
.create-post{
  background: #ECEFF1;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 16px;
    /* width: 319px; */
}

.post-top{
  display:flex;
  justify-content:space-between;
  padding-top: 8px;
  padding-bottom: 8px ;
  padding-left: 16px;
  padding-right: 18px;
  border-bottom: 1px solid #a4a8af;
}

.post-top div{
  margin-right: 5px;
}

.side-card{
  width: 193px;
  background: #ffffff;
  border-radius: 8px;
  position:absolute;
  right:-20px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

.side-card button{
  height:20px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #575757;
  display: flex;
  align-items: center;
  margin-bottom:7px;
}

.side-card button svg{
  margin-right: 12px;
}

.post-content{
  /* width:291.28px; */
  padding-left: 10px;
  padding-right: 10px;
  height:28px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #575757;
  margin-top: 12px;
  margin-bottom: 12px;
}

.post-form{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
}

.picture-preview{
  display:flex;
  justify-content:space-between;
  margin-left: 50px;
}

.picture-preview div{
  margin-left: 10px;
}

.picture-preview svg{
  width: 24px;
  cursor: pointer;
}

.preview{
  border-radius: 8.07101px;
  width: 93.5%;
  height: 230px;
}

.nav-link{
  width: 116.85px;
  height: 16px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 11.8613px;
  line-height: 14px;
  color: #575757;
}

.nav-link span{
  font-weight: 600;
  font-size: 13.8382px;
  line-height: 16px;
} 

/* postcard */
.post-card{
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px 11.86px;
  margin-top: 30px;
  margin-bottom: 24px;
  background: #ECEFF1;
}

/* .post-list {
  width: 291.28px;
} */

.post-image-top, .post-image-top1{
  display:flex;
  align-items: center;
  justify-content:space-between;
}

.drop{
  cursor:pointer
}

.post-list .post-image{
  width: 291.28px;
  height: 180px;
  border-radius: 8px;
  margin-left: 10px;
  margin-right: 10px;
}

.post-list .like-button{
  width:18px;
  height:25px;
  margin-right: 8px;
}
.post-list .comment-button{
  width:18px;
  height:23px;
}

.like-comment-box{
  display:flex;
  justify-content: space-between;
  height: 27px;
  align-items: center;
  border-top: 1.8px solid #E5E5E5;
  border-bottom: 1.8px solid #E5E5E5;
  margin: 8px 10px;
}

.post-list .like-box, .post-list .comment-box{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.post-list .like-box span, .post-list .comment-box span{
  width: 119.42px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  color: rgba(87, 87, 87, 1);

}

.post-list .comment-button {
  margin-right: 8px;
}
/* postcard */

/* .note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 300px;
    margin: 16px;
    float: left;
  }
  .note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .note button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: #f5ba13;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
  } */
  
  form .text, .text{
    display:flex;
    flex-grow: 1;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: rgba(87, 87, 87, 0.75);
    border: none;
    padding: 8px 16px;
    width: 235.86px;
    height: 39px;
    border-radius: 8.07101px;
  }

  /* Change style of emoji form */
.react-input-emoji--container{
  border-radius: 8.07101px !important;
  color: rgba(87, 87, 87, 0.75) !important;
  border: none !important;
  background: #fff !important;
  font-family: inherit !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 11px !important;
  line-height: 13px !important;
  margin-left: 5px !important;
  height: 106px;
}

.react-emoji-picker--wrapper {
  top: 160px !important;
  left: -45px !important;
  display: flex;
  flex-grow: 1;
  width:unset !important;
}

.emoji-mart {
  width: revert !important;
}

.react-input-emoji--button{
  padding-left: 7px !important;
  padding-right: 3px !important;
  }

.react-emoji{
  /* width: 271px !important; */
  height: 110px;
}

.form-top, .form-bottom{
    display:flex
  }

  .form-bottom{
    width:inherit;
    margin-top: 8px;
    justify-content:space-between;
  }

  .post-form label{
    display:flex;
    cursor: pointer;
  }

  .form-bottom .emoji{
    display:flex;
    cursor: pointer;
  }

  .post-form label img, .emoji img{
    width:30px;
    height:30px;
  }

  .emoji img{
    margin-right:4px;
  }

  .post-form .sub-btn{
    /* padding: 8px 32px; */
    width: 80px;
    height: 30px;
    background: rgba(41, 98, 255, 1);
    border-radius: 4px;
    outline: none;
    border:none;
    /* margin-right: 22px; */
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    font-family: inherit;
    cursor: pointer;
  }

.post-form label p,   .form-bottom .emoji p{
    /* width: 95px; */
    height: 14px;
    left: 20px;
    top: 1px;
    color: rgba(87, 87, 87, 0.9);
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    align-self: center;
  }

  .post-form .file-custom{
    display:none
  }

  /* ::file-selector-button{
    display: none
  } */

  form button {
    /* position: absolute; */
    /* right: 18px;
    bottom: -18px;
    background: #f5ba13;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer; */
    outline: none;
  }
  
  .list-head{
    text-align: center;
    margin: 50px 0px;
  }
  
  .total{
    clear: both;
  }
  
  /* comment form */
  .comment-form{
    display:flex;
    justify-content: space-between;
  }

  .comment-form textarea{
    margin-right: 8px;
    padding: 7.90751px;
    position: static;
    display:flex;
    flex-grow: 1;
    height: auto;
    background: #FFFFFF;
    border-radius: 7.90751px;
  }
  .comment-form .comment-btn{
    display: flex;
    align-items: center;
    padding: 7.90751px 15.815px;
    width: 45.47px;
    height: 40px;
    background: rgba(255, 255, 255, 0.81);
    border-radius: 7.90751px;
    cursor: pointer;
    border:none;
  }

  .comment-cover{
    overflow: auto;
    height: 200px;
    padding-top: 10px;
    border: 2px solid #e5e5e5;
    border-radius: 7px;
    margin-bottom: 8px;
  }

  .no-comment-cover{
    display: none;
  }

  /* .comment-list{
    height:107px
  } */
  .comment-content{
    display:flex;
  }
  .comment-content .profile-image{
    align-self:center;
    margin-right: 16px;
  }
  .comment-child{
    margin-left: 60px;
  }
  .comment-child-1 .profile-image-child{
    align-self:center;
    margin-right: 16px;
  }
  .comment-content-1{
    display:flex;
    flex-direction:column;
    flex-grow: 1;
    justify-content:space-between;
    padding: 12px 16px;
    background:  #ffffff;
    border-radius: 8px;
  }
  .comment-child-2{
    display:flex;
    flex-direction:column;
    flex-grow: 1;
    justify-content:space-between;
    padding: 12px 16px;
    background:  #ffffff;
    border-radius: 8px;
  }
  .comment-child-3{
    display: flex;
    justify-content: space-between;
  }
  .comment-content-2{
    display:flex;
    justify-content: space-between;
  }
  .comment-content a, .comment-child-1 a{
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 14px;
  }
  .comment-content div, .comment-child-1{
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color:#575757;
  }

  .comment-list-bottom{
      height: 27px;
      color: #575757;
      display: flex;
      align-items: center;
      font-family: inherit;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 13px;
      margin-bottom: 5px;
      margin-left: 80px;
  }
  .child-like-list{
      height: 27px;
      color: #575757;
      display: flex;
      align-items: center;
      font-family: inherit;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 13px;
      margin-bottom: 5px;
      margin-left: 80px;
  }

  .comment-list-bottom .like-list {
    display: flex;
    /* margin-right: 5px; */
}
  .comment-list-bottom .like-list span:nth-child(1), .comment-child .child-like-list span:nth-child(1) {
    margin-right: 3px;
}

.child-comment-button{
  margin-left: 60px !important;
  margin-bottom: 10px;
}

.comment-child-1{
  display:flex;
}

  .comment-list button{
      height: 13px;
      border: none;
      background: transparent;
      display: flex;
      color: #575757;
      align-items: center;
      font-family: inherit;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 13px;
      margin-left: 24px;
  }
  .like-comment-cont, .like-child-comment-cont {
    cursor:pointer;
    display:flex;
    align-items: center;
  }
  .like-comment-button {
    width: 15px;
    height: 25px;
    margin-right: 8px;
    margin-left: 8px;
}

/* end comment*/

/* search */
  .top-search{
    display:none;
  }
/* end search */

/* trends */
.anime-trends{
  position: relative;
  display: none;
  width: 300px;
}

.trending-anime{
  margin-top: 57px;
  /* height: 671px; */
  overflow: hidden;
  position: fixed;
}

.trending-anime .caption{
  margin-bottom: 9px;
  font-family: inherit;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #272727;
}

.trend{
  width:258px;
  display:flex;
  flex-direction: column;
  height:1000px;
}

.trend .anime{
  display: flex;
  margin-bottom: 23px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 11.8439px;
  line-height: 14px;
  color: rgba(87, 87, 87, 0.9);
}
.trend-scroll{
  height: 573px;
  overflow: hidden;
}
.trend .anime .content{
  display: flex;
  flex-direction: column;
  align-self: end;
}
.trend .anime .content p:nth-child(1) {
  font-weight: bold;
  text-transform: uppercase;
}
.trend .anime .content p:nth-child(2) {
  height: 65px;
  white-space: pre-wrap;
  max-height: 20ch;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

.trend .anime .cover{
  width: 129px;
  height: 120px;
  margin-right: 4px;
}

.trend .anime .cover img{
  width: inherit;
  height: 120px;
  border-radius: 8px;
}
/* end trends */

/* media  */
@media (max-width: 445px){
  .profilePage, .explore, .home{
    margin-left: 70px;
  }
}

@media (max-width: 430px){
  .profilePage, .explore, .home{
    margin-left: 65px;
  }
}

@media (max-width: 500px){
  .App{
    margin-left: 8px;
  }
}
@media (max-width: 410px){
  .App{
    margin-left: 5px;
  }
  .profilePage, .explore, .home{
      margin-left: 62px;
  }

  .create-post {
    width:300px
  }
  .post-card {
    width:300px
  }
  .post-list .post-image {
    width:revert
  }
  header {
    padding-left:5px;
  }
  
}

@media (min-width:500px ) and (max-width: 834px){
  .home, .explore{
    margin-left: 100px;
    margin-right: 0
  }
  .App{
    margin-left: 55px;
  }
  .side-bar {
    margin-right: 50px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
    position: fixed;
    overflow-x: hidden;
  }
  .post-card{
    padding-top: 10.1px;
    padding-bottom: 10.1px
  }
  .top-header {
    margin-left:45px
  }
  .like-comment-box{
    height: 30px;
    margin-top: 11.44px;
    margin-bottom: 11.44px;
  }
  .bar-content button {
    padding: 12px 14px;
  }
}
@media (min-width:500px ) and (max-width: 560px){
  header{
    margin-right: 20px;
  }
}
@media screen and (min-width: 834px){
  .trend-icon{
    display: none
  }
  .top-search{
    display: block;
  }
  .side-card{
    padding-left:16px;
  }
}
@media screen and (max-width: 837px){
  .anime-trends {
    display: none;
  }
}

@media (min-width:837px ) and (max-width:1040px){
  .anime-trends {
    display: block;
  }
  .anime-trends, .trend {
    width: 180px;
  }
  .trend .anime .content{
    display: none;
  }
  .trending-anime {
    text-align: center;
  }
  .trend .anime{
    align-self: center;
  }
}

@media (min-width:1041px ) and (max-width:1300px){
  .App{
    margin-left:50px
  }
  .home, .profilePage, .explore {
    margin-left: 110px;
  }
}

@media screen and (max-width: 800px){
  .preview{
     width: 92%;
  }
}
@media screen and (min-width: 1040px){
  .anime-trends{
    display:block
  }
  .trending-anime{
    display:flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 750px){
  .preview{
     width: 92%;
  }
}

@media screen and (max-width: 700px){
  .preview{
     width: 90%;
  }
}

@media screen and (max-width: 630px){
  .preview{
     width: 88%;
  }
}
@media screen and (max-width: 600px){
  .preview{
     width: 86%;
  }
}

@media screen and (max-width: 490px){
  .preview{
     width: 86%;
  }
  header{
    margin-left:0;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1260px) {
  .side-text{
    display: block
  }
  .user-name{
    display:block
  }
  .App{
    margin-left: 5%;
  }
  .side-bar{
    width:200px;
  }
  .bar-content button{
    width:100%
  }
  .my-profile{
    margin-left: 13px;
  }
   .profilePage, .explore, .home{
    margin-left: 20%;
    margin-right: 5%;
  }  
  .home-page, .explore-page{
    background: #ECEFF1;
    border-radius: 8px 8px 0px 0px;
    padding-top: 21px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 15px;
  }
   .bar-content button .icons{
    margin-right: 8px
  }
   .side-card{
    width: 226px;
    background: #ECEFF1;
  }
   .top-header .logo p{
     display:block
  }
   .top-header .logo {
     width: 95px;
  }
   /* .top-header {
     margin-left:12%
  } */
   .comment-form textarea, form .text, .text, .comment-form .comment-btn{
     background: #ECEFF1;
   }
   .create-post{
    background: #ffffff;
    margin-bottom: 15px;
   }
    .post-card {
    background: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
   }
   .comment-content-1{
    background:  #ECEFF1;
   }
   .react-input-emoji--container {
    background:#ECEFF1 !important;
  }
}
@media (min-width:1040px ) and (max-width:1260px){
  header{
    margin-left: 4%;
  }
}

@media (min-width:1080px ) and (max-width:1140px){
  .top-search{
    margin-right: 2%;
  }
}
@media (min-width:1140px ) and (max-width:1180px){
  .top-search{
    margin-right: 3%;
  }
}

@media (min-width:1180px ) and (max-width:1260px){
  .top-search{
    margin-left: 720px;
  }
  .top-header {
    justify-content: revert;
  }
}

@media (min-width:1260px ) and (max-width:1300px){
  header{
    margin-left: 8%;
    margin-right: 7.5%;
  }
}

@media screen and (min-width: 1300px) {
  .App{
    margin-left: 12%;
    margin-right: 12%;
  }
  header{
    margin-left: 12%;
    margin-right: 12%;
  }
  .profilePage, .explore, .home{
    margin-left: 25%;
    margin-right: 10%;
  } 
}

@media (min-width:1300px ) and (max-width:1350px){
  header{
    margin-right: 8%;
  }
}
@media (min-width:1350px ) and (max-width:1400px){
  header{
    margin-right: 9%;
  }
}
@media (min-width:1400px ) and (max-width:1500px){
  header{
    margin-right: 10%;
  }
}

@media screen and (min-width: 1500px) {
  .App, header{
    margin: auto;
    width: 1400px;
  }
  .trend{
    width:300px;
  }
  .searchForm{
    width:300px;
  }
}
